.application-cards {
    margin: 5%;
}

.cardsize {
    height: 200px;
    width: 220px;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 20px 50px rgb(0,0,0,0.4);
    text-align: center;
}

.cardsize:hover {
    height: 200px;
    width: 220px;
    align-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 20px 50px rgba(255, 0, 255, 0.4);
    text-align: center;
}

.card-row-margin {
    margin: 3%;
}
